/**
  色值变量
*/

// 颜色
$fontColor: #454554; // 主要字体颜色
$subFontColor: #8f8f98; // 次要字体颜色
$priceFontColor: #F35656; // 价格字体颜色
$font-base-color: #454553; // 页面字体基本颜色

// 字号
$fontSize: 30rem; // 主要字体大小
$subFontSize: 30rem; // 次要字体大小

// 页面背景色
$page-bg: #F9FAFC;
